@model EPT.ViewModels.AcervoViewModel

@{
    ViewData["Title"] = "Excluir";
}
<div class="col-12">
    <nav class="navbar navbar-expand-lg">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
        </button>
    </nav>
</div>

<br />
<div class="alterar">
    <h3>Confirmar exclusão deste acervo? </h3>
</div>
<div class="alterar">
    <hr />
    <dl class="row">
        @Html.HiddenFor(model => model.AcervoId)

        <dt class = "col-2">
            Acervo nº      
        </dt>
        <dd class = "col-10">
            @Html.DisplayFor(model => model.numero_acervo)
        </dd>
        <dt class = "col-2">
            EPT nº
        </dt>
        <dd class = "col-10">
            @Html.DisplayFor(model => model.numero_ept)
        </dd>
       
       
    </dl>
    <br />
    <form asp-action="Excluir">
        <input asp-route-idacervo="@Model.AcervoId" type="submit" value="Confirmar" class="btn btn-success" /> |
        <a class="btn btn-danger" asp-action="Index">Voltar</a>
    </form>
</div>
