@{
    ViewData["Title"] = "Home Page";
}


<div class=" mb-2 mt-2">
    <a href="/Funcoes/Index" class="btn btn-secondary col-4"> Funções</a>
</div>
<div class=" mb-2 mt-2">
    <a href="/Profissionais/Index" class="btn btn-secondary col-4">Profissional</a>
</div>
<div class=" mb-2 mt-2">
    <a href="/Itens/Index" class="btn btn-secondary col-4">Itens</a>
</div>
<div class=" mb-2 mt-2">
    <a href="/Contratante/Index" class="btn btn-secondary col-4">Contratante</a>
</div>
