
@{
    ViewData["Title"] = "Index";
}

<h3>Relatorios</h3>
<hr />
<div >
    <a class="btn btn-secondary col-4 " asp-action="Acervo1" asp-controller="Relatorio">Acervo - Profissional, Função e Atestado</a>
</div>
<br />

<div>
    <a class="btn btn-secondary  col-4" asp-action="Atestado1" asp-controller="Relatorio">Atestado - Item e Quantidade</a>
</div>
<br />

<div>
    <a class="btn btn-secondary  col-4" asp-action="Atestado2" asp-controller="Relatorio">Atestado </a>
</div>
